.time_icon__color_green {
  color: rgb(50, 157, 3);
}

.time_icon__color_orange {
  color: rgb(214, 95, 43);
}

.time_icon__color_red {
  color: rgb(159, 9, 9);
}

.time_icon__color_blue {
  color: rgb(40, 202, 212);
}
