@import "vars";

.time_icon__color_green {
  color: $task-priority-low;
}

.time_icon__color_orange {
  color: $task-priority-middle;
}

.time_icon__color_red {
  color: $task-priority-high;
}

.time_icon__color_blue {
  color: $primary-blue;
}
