@use "vars" as vars;

.time_icon__color_green {
  color: vars.$task-priority-low;
}

.time_icon__color_orange {
  color: vars.$task-priority-middle;
}

.time_icon__color_red {
  color: vars.$task-priority-high;
}

.time_icon__color_blue {
  color: vars.$primary-blue;
}
