$primary-blue: rgb(70, 166, 201);
$accent-green: rgb(110, 174, 50);
$gray: rgb(97, 97, 97);
$dark-red: #761c19;
$green: rgb(50, 157, 3);

$gray-text: rgb(112, 120, 129);

$task-priority-low: $green;
$task-priority-middle: rgb(214, 95, 43);
$task-priority-high: rgb(146, 23, 36);

$h-font: Baloo_2, SansSerif sans-serif;
$input-font: RobotoRegular, SansSerif sans-serif;
