<div class="row justify-content-center align-items-center mt-4 mb-4">
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-9 col-12">
        <form [formGroup]="registrationForm"
              (submit)="sendForm()">
            <div class="login_controls">
                <div class="row">
                    <div class="col-12">
                        <div class="login_header">
                            <span class="login_header_text">Registration</span>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="col-sm-10 col-11">
                        <mat-form-field class="w-100">
                            <input type="text"
                                   class="login_input"
                                   aria-label="Username"
                                   placeholder="Username"
                                   formControlName="username"
                                   matInput>
                        </mat-form-field>
                        <ngx-validation-messages [for]="registrationForm.get('username')"></ngx-validation-messages>
                    </div>
                </div>
                <div formGroupName="passwordGroup">
                    <div class="row justify-content-center mt-2">
                        <div class="col-sm-10 col-11">
                            <mat-form-field class="w-100">
                                <input type="password"
                                       class="login_input"
                                       aria-label="Password"
                                       placeholder="Password"
                                       formControlName="password"
                                       matInput>
                            </mat-form-field>
                            <ngx-validation-messages
                                    [for]="registrationForm.get('passwordGroup.password')"></ngx-validation-messages>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-2">
                        <div class="col-sm-10 col-11">
                            <mat-form-field class="w-100">
                                <input type="password"
                                       class="login_input"
                                       aria-label="Confirm password"
                                       placeholder="Confirm password"
                                       formControlName="confirmPassword"
                                       matInput>
                            </mat-form-field>
                            <ngx-validation-messages
                                    [for]="registrationForm.get('passwordGroup.confirmPassword')"></ngx-validation-messages>
                            <ngx-validation-messages
                                    [for]="registrationForm.get('passwordGroup')"></ngx-validation-messages>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="col-sm-10 col-11">
                        <mat-form-field class="w-100">
                            <input type="text"
                                   class="login_input"
                                   aria-label="Email"
                                   placeholder="Email"
                                   formControlName="email"
                                   matInput>
                        </mat-form-field>
                        <ngx-validation-messages [for]="registrationForm.get('email')"></ngx-validation-messages>
                    </div>
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="col-sm-10 col-11">
                        <mat-form-field class="w-100">
                            <input type="text"
                                   class="login_input"
                                   aria-label="First name"
                                   placeholder="First name"
                                   formControlName="firstName"
                                   matInput>
                        </mat-form-field>
                        <ngx-validation-messages
                                [for]="registrationForm.get('firstName')"></ngx-validation-messages>
                    </div>
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="col-sm-10 col-11">
                        <mat-form-field class="w-100">
                            <mat-label>Date of Birth</mat-label>
                            <input class="login_input"
                                   aria-label="Choose a date"
                                   placeholder="Choose a date"
                                   formControlName="birthday"
                                   matInput
                                   [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <ngx-validation-messages [for]="registrationForm.get('birthday')"></ngx-validation-messages>
                    </div>
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="col-sm-8 col-11">
                        <input class="login_button login_button__blue"
                               type="submit"
                               [disabled]="!registrationForm.valid"
                               value="Sign up">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-8 col-11">
                        <input class="login_button login_button__black"
                               type="button"
                               routerLink="/login"
                               value="Back to login form">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
