@use "media-queries" as media;
@use "vars" as vars;
@use "sass:color";

.header-page {
  background-color: color.change(vars.$gray, $alpha: 0.82);
  font-family: vars.$h-font;
  @include media.df-sm {
    background-color: color.change(vars.$gray, $alpha: 0.92);
  }
  @include media.df-xs {
    height: 48px;
  }
}

.user-login {
  color: #fff;
}

.user-login__button {
  color: #fff;
  border: none;
  vertical-align: middle;
  background-color: transparent;
}
