.common_page {
  margin: 3em 1em;
}

.common_page__header {
  width: 80%;
  height: 2.3em;
  margin: 0 auto;
  padding-top: 0.4em;
  padding-left: 1em;
  color: rgb(255, 255, 255);
  background-image: -moz-linear-gradient(90deg, rgb(76, 186, 226) 0%, rgb(17, 159, 211) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(76, 186, 226) 0%, rgb(17, 159, 211) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(76, 186, 226) 0%, rgb(17, 159, 211) 100%);
  font-size: 1.2em;
  font-family: EurofurenceRegular, SansSerif sans-serif;
}

.common_page__body {
  width: 80%;
  margin: 0 auto;
  padding: 1em 1.5em 1.8em;
  background: rgb(255, 255, 255);
  font-family: RobotoRegular, SansSerif sans-serif;
}

/* MEDIA STYLES */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .common_page__header {
    width: 90%;
  }

  .common_page__body {
    width: 90%;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/

    animation: none !important;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .common_page {
    margin: 2em 1em;
  }

  .common_page__header {
    font-size: 1em;
    width: 100%;
  }

  .common_page__body {
    width: 100%;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}

/* MEDIA STYLES */