.server-notification__separate_line {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 1);
}

.server-notification__header_icon {
  width: 35px;
  margin-left: 13px;
  color: red;
}

.server-notification__header_close_icon {
  position: absolute;
  right: 11px;
  top: 6px;
  cursor: pointer;
}
