@import "media-queries";
@import "vars";

.category-list {
  font-size: 0.75em;
  text-align: left;
  color: #FFFFFF;
}

.category-list__label {
  background-color: rgb(110, 174, 50);
  margin-bottom: 2px;
  font-family: $h-font;
}

.category-list__add_button {
  float: left;
  display: inline-block;
  width: 90px;
  height: 78px;
  margin-right: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: $h-font;
  font-size: 0.9em;
  @include df-xs {
    width: 80px;
    height: 70px;
  }
}

.category-list__add_button:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.category-list__add_button__icon {
  margin-top: 16px;
  font-size: 4em;
  color: $primary-blue;
  @include df-xs {
    font-size: 2em;
  }
}

.category-list__minimize_button__icon {
  float: right;
  margin-top: 4px;
  margin-right: 8px;
  cursor: pointer;
}
