<form [formGroup]="quickTaskForm">
  <div class="quick_task_create">
    <div class="row">
      <div class="col-12">
        <div class="row mb-2">
          <div class="col-sm-11 col-10 pr-0">
            <input (keydown.Enter)="onEnter()"
                   class="quick_task_create_input"
                   formControlName="name"
                   placeholder="Enter a name for the new task"
                   title="Enter a name for the new task"
                   type="text"/>
          </div>
          <div class="col-sm-1 col-2 pl-0">
            <div (click)="onClick()"
                 class="quick_task_create_input_button">
              <i class="fa fa-plus-circle mt-2"></i>
            </div>
          </div>
        </div>
        <ngx-validation-messages *ngIf="needShowError">
          This field is required!
        </ngx-validation-messages>
      </div>
    </div>
  </div>
</form>
