@import "vars";

.quick_task_create {
  margin-bottom: 6px;
}

.quick_task_create_input {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  color: rgb(255, 255, 255);
  background-color: $primary-blue;
  border-radius: .25em 0 0 .25em;
  border: none;
  outline: none;
}

.quick_task_create_input_button {
  display: inline-block;
  width: 100%;
  height: 40px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.8em;
  background-color: $primary-blue;
  border-radius: 0 .25em .25em 0;
  cursor: pointer;
}

.quick_task_create_input_button:hover {
  background-color: change_color($primary-blue, $lightness: 47%);
}
