@use "vars" as vars;

.task_form__tooltip {
  position: relative;
  top: -3em;
  left: 12em;
  margin-left: 5px;
  font-size: 1.2em;
  color: vars.$gray-text;
}

.task_form__tooltip_extra {
  color: vars.$dark-red;
}
