.task_status_changer__status_button {
  color: rgb(255, 255, 255);
}

.task_status_changer__status_in_progress {
  background-color: rgb(40, 202, 212);
}

.task_status_changer__status_done {
  background-color: rgb(50, 157, 3);
}

.task__status_cancel {
  background-color: rgb(159, 9, 9);
}

.task__status_pause {
  background-color: rgb(214, 95, 43);
}