<div class="category-list">
    <div class="row">
        <div class="col-12">
            <div class="menu_content_text_label category-list__label">
                Список категорий
                <i [ngClass]="['category-list__minimize_button__icon', 'fa',
                                minimizeCategories ? 'fa-eye-slash' : 'fa-eye']"
                   (click)="onMinimizeCategories()"></i>
            </div>
        </div>
    </div>
    <div *ngIf="!minimizeCategories" class="row no-gutters">
        <div class="col-12">
            <div class="category-list__add_button"
                 (click)="onAddCategory()">
                <i class="category-list__add_button__icon fa fa-plus"></i>
                <div>Добавить</div>
            </div>
            <ng-container *ngFor="let category of categories">
                <tm-category [category]="category"
                             (categoryEdit)="onCategoryEdit($event)"
                             (categoryDelete)="onCategoryDelete($event)">
                </tm-category>
            </ng-container>
        </div>

    </div>
</div>