@use '@angular/material' as mat;
@use './palette' as palette;

$primary: mat.m2-define-palette(palette.$tm-primary-color);
$accent:  mat.m2-define-palette(palette.$tm-accent-color);
$warn:    mat.m2-define-palette(mat.$m2-red-palette);

$tm-theme: mat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  ),
  typography: null,
  density: 0
));

@include mat.all-component-themes($tm-theme);
