$tm-primary-color: (
  50 : #e1f5fe,
  100 : #b3e5fc,
  200 : #81d4fa,
  300 : #4fc3f7,
  400 : #29b6f6,
  500 : #03a9f4,
  600 : #03a2f3,
  700 : #0298f1,
  800 : #028fef,
  900 : #017eec,
  A100 : #ffffff,
  A200 : #e0efff,
  A400 : #add4ff,
  A700 : #93c7ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$tm-accent-color: (
  50 : #f1f8e9,
  100 : #dcedc9,
  200 : #c5e1a5,
  300 : #aed580,
  400 : #9ccc65,
  500 : #8bc34a,
  600 : #83bd43,
  700 : #78b53a,
  800 : #6eae32,
  900 : #5ba122,
  A100 : #ebffdd,
  A200 : #ceffaa,
  A400 : #b0ff77,
  A700 : #a2ff5d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
