<div class="row justify-content-center align-items-center h-100">
  <div class="col-xl-4 col-lg-5 col-md-6 col-sm-9 col-12">
    <form (submit)="login()"
          [formGroup]="loginForm">
      <div class="login_controls">
        <div class="row">
          <div class="col-12">
            <div class="login_header">
              <span class="login_header_text">Task manager</span>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-2">
          <div class="col-sm-10 col-11">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Username</mat-label>
              <input aria-label="Username"
                     class="login_input"
                     formControlName="username"
                     matInput
                     required
                     type="text">
            </mat-form-field>
            <ngx-validation-messages [for]="loginForm.get('username')"></ngx-validation-messages>
          </div>
        </div>
        <div class="row justify-content-center mt-2">
          <div class="col-sm-10 col-11">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Password</mat-label>
              <input aria-label="Password"
                     class="login_input"
                     formControlName="password"
                     matInput
                     required
                     type="password">
            </mat-form-field>
            <ngx-validation-messages [for]="loginForm.get('password')"></ngx-validation-messages>
          </div>
        </div>
        <div class="row justify-content-center mt-0">
          <div class="col-sm-10 col-11">
            <button [disabled]="!loginForm.valid"
                    class="w-100 login_button"
                    color="accent"
                    matButton="filled"
                    type="submit">
              Sign in
            </button>
          </div>
        </div>
        <div class="row justify-content-center mt-3">
          <div class="col-sm-10 col-11">
            <button (click)="router.navigate(['/login/registration'])"
                    class="w-100 login_button"
                    matButton="elevated"
                    type="button">
              Sign up
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
