@import "media-queries";
@import "vars";

.category {
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  font-size: 0.75em;
}

.category__active {
  color: $primary-blue;
}

.category__inactive {
  color: rgb(0, 0, 0);
}

.category__prefix {
  white-space: nowrap;
  font-weight: bold;
  background-color: $primary-blue;
  border-radius: 5px 5px 0 0;
}

.category__link {
  display: inline-block;
  min-width: 65px;
  min-height: 65px;
  padding: 9px 5px 5px 5px;
  text-align: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}

.category__link_icon {
  font-size: 3em;
  @include df-xs {
    font-size: 2em;
  }
}

.category__item {
  border-radius: 5px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  @include df-xs {
    width: 80px;
    height: 70px;
  }
}

.category__item_menu {
  display: inline-block;
  background-color: $primary-blue;
  cursor: pointer;
}

.category__item_menu__edit {
  width: 50%;
  border-radius: 5px 0 0 5px;
}

.category__item_menu__delete {
  width: 50%;
  border-radius: 0 5px 5px 0;
}

.category__item_menu__edit:hover {
  background-color: $gray;
}

.category__item_menu__delete:hover {
  background-color: $dark-red;
}