@import "media-queries";
@import "vars";

.menu-item {
  display: inline-block;
  padding: 0.94em;
  @include df-sm {
    padding: 0.93em;
    font-size: 0.9em;
  }
  @include df-xs {
    display: block;
  }
}

.menu-item__name {
  padding-left: 7px;
}

.menu-item:hover {
  background-color: $primary-blue;
}
