@import "media-queries";

.task-list__content {
  font-size: 0.75em;
  @include df-sm {
    margin-left: 0;
  }
}

.task-list__label {
  background-color: rgba(206, 6, 72, 1);
  margin-bottom: 2px;
}

.task-list__minimize_button__icon {
  float: right;
  margin-top: 4px;
  margin-right: 8px;
  cursor: pointer;
}