@import "media-queries";
@import "vars";

.task {
  background: rgba(255, 255, 255, 0.9);
  border-radius: .25em;
  padding-right: 1.2em;
  @include df-md {
    font-size: 0.9em;
  }
}

.task:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.8);
}

.task:active {
  text-decoration: none;
}

.task:link {
  text-decoration: none;
}

.task_select {
  cursor: pointer;
}

.task__priority_tooltip {
  width: 0.5em;
  height: 2.5em;
  margin-top: -0.5em;
}

.task__priority_low {
  box-shadow: 0 .0625em .125em rgba(0, 0, 0, .125),
  inset 0 -.25em 0 -.125em rgba(0, 0, 0, .125),
    // TODO
  inset 1.1em 0 0 -.7em change_color($task-priority-low, $alpha: 0.9),
  inset -0.5em 0 0 -.3em rgba(0, 0, 0, .05);
}

.task__priority_middle {
  box-shadow: 0 .0625em .125em rgba(0, 0, 0, .125),
  inset 0 -.25em 0 -.125em rgba(0, 0, 0, .125),
  inset 1.1em 0 0 -.7em change_color($task-priority-middle, $alpha: 0.9),
  inset -0.5em 0 0 -.3em rgba(0, 0, 0, .05);
}

.task__priority_high {
  box-shadow: 0 .0625em .125em rgba(0, 0, 0, .125),
  inset 0 -.25em 0 -.125em rgba(0, 0, 0, .125),
  inset 1.1em 0 0 -.7em change_color($task-priority-high, $alpha: 0.9),
  inset -0.5em 0 0 -.3em rgba(0, 0, 0, .05);
}

.task__bottom {
  font-size: 0.8em;
}

.task__name {
  color: $primary-blue;
  font-weight: 700;
}

.task__description {
  color: $gray-text;
}

.task__status_name {
  position: absolute;
  height: 10%;
  padding-left: 0.4em;
  font-size: 0.7em;
}

.task__total_time_icon {
  color: $green;
}

.task__left_time_icon {
  color: $green;
}

.task__remove_button {
  position: absolute;
  right: 27px;
  top: 13px;
  font-size: 1.3em;
  cursor: pointer;
  color: $dark-red;
  @include df-lg {
    right: 24px;
  }
  @include df-md {
    right: 22px;
  }
  @include df-sm {
    top: 16px;
  }
}

.task__progress_total_time {
  @include df-sm {
    position: absolute;
    bottom: 0.6em;
    left: 11em;
  }
  @include df-xs {
    bottom: 0.65em;
  }
  @include df-xxs {
    left: 11.3em;
    bottom: 0.8em;
  }
}

.task__progress_left_time {
  @include df-sm {
    position: absolute;
    bottom: 0.6em;
    left: 16.4em;
  }
  @include df-xs {
    bottom: 0.65em;
  }
  @include df-xxs {
    bottom: 0.8em;
  }
}
