.server-notification__separate_line {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
}

.server-notification__header_icon {
  width: 35px;
  margin-left: 13px;
  color: rgb(255, 0, 0);
}
.server-notification__header_close_icon {
  position: absolute;
  right: 11px;
  top: 6px;
  cursor: pointer;
}
