<div [@dropDownAnimation]>
  <tm-common-page>
    <ng-container page-header>
      <span class="user_form__header">User information</span>
    </ng-container>
    <ng-container page-body>
      <form [formGroup]="userForm"
            (keydown.enter)="$event.preventDefault()"
            (submit)="saveUser()">
        <div class="row mt-md-3 mt-0">
          <div class="col-lg-4 col-12 mt-md-0 mt-2">
            <mat-form-field class="w-100">
              <input type="text"
                     aria-label="First name"
                     placeholder="First name"
                     formControlName="firstName"
                     matInput>
            </mat-form-field>
            <ngx-validation-messages [for]="userForm.get('firstName')"></ngx-validation-messages>
          </div>
          <div class="col-lg-4 col-12 mt-md-0 mt-2">
            <mat-form-field class="w-100">
              <input type="text"
                     aria-label="Middle name"
                     placeholder="Middle name"
                     formControlName="middleName"
                     matInput>
            </mat-form-field>
            <ngx-validation-messages [for]="userForm.get('middleName')"></ngx-validation-messages>
          </div>
          <div class="col-lg-4 col-12 mt-md-0 mt-2">
            <mat-form-field class="w-100">
              <input type="text"
                     aria-label="Last name"
                     placeholder="Last name"
                     formControlName="lastName"
                     matInput>
            </mat-form-field>
            <ngx-validation-messages [for]="userForm.get('lastName')"></ngx-validation-messages>
          </div>
        </div>
        <div class="row mt-md-3 mt-0">
          <div class="col-lg-4 col-12 mt-md-0 mt-2">
            <mat-form-field class="w-100">
              <input type="text"
                     aria-label="City"
                     placeholder="City"
                     formControlName="city"
                     matInput>
            </mat-form-field>
            <ngx-validation-messages [for]="userForm.get('city')"></ngx-validation-messages>
          </div>
          <div class="col-lg-4 col-12 mt-md-0 mt-2">
            <mat-form-field class="w-100">
              <mat-label>Date of Birth</mat-label>
              <input aria-label="Choose a date"
                     placeholder="Choose a date"
                     formControlName="birthday"
                     matInput
                     [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <ngx-validation-messages [for]="userForm.get('birthday')"></ngx-validation-messages>
          </div>
          <div class="col-lg-4 col-12 mt-md-0 mt-2">
            <mat-form-field class="w-100">
              <input type="text"
                     aria-label="Email"
                     placeholder="Email"
                     formControlName="email"
                     required
                     matInput>
            </mat-form-field>
            <ngx-validation-messages [for]="userForm.get('email')"></ngx-validation-messages>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-2 col-12">
            <button type="submit"
                    class="w-100"
                    [disabled]="!userForm.valid"
                    mat-raised-button
                    color="accent">
              Save
            </button>
          </div>
          <div class="col-lg-2 col-12 mt-md-0 mt-2">
            <button type="button"
                    class="w-100"
                    mat-raised-button
                    (click)="router.navigate(['/home'])">
              Close
            </button>
          </div>
        </div>
      </form>
    </ng-container>
  </tm-common-page>
</div>
