.app_background {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 90%;
    background: url("../img/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.error_block {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 0;
    background: #c51244;
    box-shadow: 1px 1px 1px #aaaaaa;
    opacity: 0.8;
    font-size: 0.75em;
}

.error_block:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #c51244;
    position: absolute;
    top: -9px;
    left: 10px;
}

.error_label {
    color: white;
}