.header-page {
  background-color: rgba(97, 97, 97, 0.82);
  font-family: Exo2Regular, sans-serif;
}

.user-login {
  color: #fff;
}

.user-login__button {
  color: #fff;
  border: none;
  vertical-align: middle;
  background-color: transparent;
}


/* MEDIA STYLES */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/

    animation: none !important;
  }

  .header-page {
    background-color: rgba(97, 97, 97, 0.92);
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header-page {
    height: 48px;
    background-color: rgba(97, 97, 97, 0.92);
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}

/* MEDIA STYLES */
