<header class="header-page">
    <div class="row no-gutters align-items-center full-height">
        <div class="col-xl-7 col-md-6 col-sm-6 col-8 text-left pl-3 pl-sm-0">
            <tm-menu></tm-menu>
        </div>

        <div class="col-xl-5 col-md-4 col-sm-3 col-4 text-right">
            <div class="user-login">
                <span class="d-none d-lg-inline-block">Welcome, {{userName}}</span>
                <button class="user-login__button"
                        routerLink="users">
                    <i class="fa fa-cog"></i>
                </button>
                <button class="user-login__button" (click)="logout()">
                    <i class="fa fa-power-off"></i>
                </button>
            </div>
        </div>
    </div>

</header>