@import "media-queries";

.header-page {
  background-color: rgba(97, 97, 97, 0.82);
  font-family: Exo2Regular, sans-serif;
  @include df-sm {
    background-color: rgba(97, 97, 97, 0.92);
  }
  @include df-xs {
    height: 48px;
    background-color: rgba(97, 97, 97, 0.92);
  }
}

.user-login {
  color: #fff;
}

.user-login__button {
  color: #fff;
  border: none;
  vertical-align: middle;
  background-color: transparent;
}
