@import "media-queries";
@import "vars";

.header-page {
  background-color: change_color($gray, $alpha: 0.82);
  font-family: $h-font;
  @include df-sm {
    background-color: change_color($gray, $alpha: 0.92);
  }
  @include df-xs {
    height: 48px;
  }
}

.user-login {
  color: #fff;
}

.user-login__button {
  color: #fff;
  border: none;
  vertical-align: middle;
  background-color: transparent;
}
