.login_header {
  background-color: rgba(76, 186, 226, 0.95);
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  text-align: center;
}

.login_header_text {
  display: inline-block;
  margin-top: 11px;
  color: rgba(255, 255, 255, 1);
  font-size: 1.5em;
  font-family: EurofurenceRegular, sans-serif;
}

.login_controls {
  padding-bottom: 50px;
  background-color: rgba(253, 253, 254, 0.95);
  border: 1px solid white;
}

.login_input {
  width: 100%;
  height: 30px;
  background: transparent;
  font-family: EurofurenceRegular, sans-serif;
  z-index: 10;
}

.login_button {
  width: 100%;
  margin-top: 10px;
  padding: .7em 1.5em;
  color: rgba(255, 255, 255, 1);
  border: 1px solid white;
  font-family: EurofurenceRegular, sans-serif;
  text-decoration: none;
  outline: none;
}

.login_button__blue:disabled {
  background: rgba(76, 186, 226, 0.35);
}

.login_button__blue:disabled:hover {
  background: rgba(76, 186, 226, 0.35);
}

.login_button__blue {
  background: rgba(76, 186, 226, 0.8);
}

.login_button__blue:hover {
  background: rgba(76, 186, 226, 1);
}

.login_button__black {
  background: rgba(0, 0, 0, 0.6);
}

.login_button__black:hover {
  background: rgba(0, 0, 0, 0.8);
}
