@import "vars";

.login_header {
  background-color: $primary-blue;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  text-align: center;
}

.login_header_text {
  display: inline-block;
  margin-top: 11px;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  font-family: $h-font;
}

.login_controls {
  padding-bottom: 50px;
  background-color: rgba(253, 253, 254, 0.95);
  border: 1px solid white;
}

.login_input {
  width: 100%;
  height: 30px;
  background: transparent;
  font-family: $h-font;
  z-index: 10;
}

.login_button {
  padding: .7em 1.5em;
  font-family: $h-font;
  text-decoration: none;
  outline: none;
}