<div class="row justify-content-center align-items-center h-100">
  <div class="col-xl-4 col-lg-5 col-md-6 col-sm-9 col-12">
    <form (submit)="sendForm()"
          [formGroup]="registrationForm">
      <div class="login_controls">
        <div class="row">
          <div class="col-12">
            <div class="login_header">
              <span class="login_header_text">Registration</span>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-2">
          <div class="col-sm-10 col-11">
            <mat-form-field class="w-100">
              <input aria-label="Username"
                     class="login_input"
                     formControlName="username"
                     matInput
                     placeholder="Username"
                     required
                     type="text">
            </mat-form-field>
            <ngx-validation-messages [for]="registrationForm.get('username')"></ngx-validation-messages>
          </div>
        </div>
        <div formGroupName="passwordGroup">
          <div class="row justify-content-center mt-2">
            <div class="col-sm-10 col-11">
              <mat-form-field class="w-100">
                <input aria-label="Password"
                       class="login_input"
                       formControlName="password"
                       matInput
                       placeholder="Password"
                       required
                       type="password">
              </mat-form-field>
              <ngx-validation-messages
                [for]="registrationForm.get('passwordGroup.password')"></ngx-validation-messages>
            </div>
          </div>
          <div class="row justify-content-center mt-2">
            <div class="col-sm-10 col-11">
              <mat-form-field class="w-100">
                <input aria-label="Confirm password"
                       class="login_input"
                       formControlName="confirmPassword"
                       matInput
                       placeholder="Confirm password"
                       required
                       type="password">
              </mat-form-field>
              <ngx-validation-messages
                [for]="registrationForm.get('passwordGroup.confirmPassword')"></ngx-validation-messages>
              <ngx-validation-messages
                [for]="registrationForm.get('passwordGroup')"></ngx-validation-messages>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-2">
          <div class="col-sm-10 col-11">
            <mat-form-field class="w-100">
              <input aria-label="Email"
                     class="login_input"
                     formControlName="email"
                     matInput
                     placeholder="Email"
                     required
                     type="text">
            </mat-form-field>
            <ngx-validation-messages [for]="registrationForm.get('email')"></ngx-validation-messages>
          </div>
        </div>
        <div class="row justify-content-center mt-0">
          <div class="col-sm-8 col-11">
            <button [disabled]="!registrationForm.valid"
                    class="w-100 login_button"
                    color="accent"
                    mat-raised-button
                    type="submit">
              Sign up
            </button>
          </div>
        </div>
        <div class="row justify-content-center mt-3">
          <div class="col-sm-8 col-11">
            <button (click)="router.navigate(['/login'])"
                    class="w-100 login_button"
                    mat-raised-button
                    type="button">
              Back to login form
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
