.category {
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  font-size: 0.75em;
}

.category__prefix {
  white-space: nowrap;
  font-weight: bold;
  background-color: rgba(70, 166, 201, 1);
  border-radius: 5px 5px 0 0;
}

.category__content {
  display: inline-block;
  width: 150px;
  height: 150px;
  min-height: 150px;
  max-height: 150px;
  background-color: rgba(255, 255, 255, 0.7);
}

.category__link {
  display: inline-block;
  min-width: 65px;
  min-height: 65px;
  padding: 9px 5px 5px 5px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}

.category__link_icon {
  font-size: 3em;
}

.category__item {
  border-radius: 5px;
  width: 100px;
  background-color: rgba(255, 255, 255, 1);
}

.category__item_menu {
  display: inline-block;
  background-color: rgba(70, 166, 201, 1);
  cursor: pointer;
}

.category__item_menu__edit {
  width: 50%;
  border-radius: 5px 0px 0px 5px;
}

.category__item_menu__delete {
  width: 50%;
  border-radius: 0px 5px 5px 0px;
}

.category__item_menu__edit:hover {
  background-color: rgba(97, 97, 97, 1);
}

.category__item_menu__delete:hover {
  background-color: #761c19;
}

/* MEDIA STYLES */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/

    animation: none !important;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

  .category__item {
    width: 80px;
    height: 70px;
  }

  .category__link_icon {
    font-size: 2em;
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}

/* MEDIA STYLES */