@import "vars";

.icon-list__icon_label {
  font-size: 0.7em;
}

.icon-list__icon {
  cursor: pointer;
  border: solid 2px rgb(255, 255, 255);
}

.icon-list__icon:hover {
  border-color: $gray;
}

.icon-list__header__close_button {
  float: right;
  border: none;
  outline: none;
}