<h1 mat-dialog-title>Choose icon
  <button class="icon-list__header__close_button" mat-dialog-close>
    <i class="fa fa-times"></i>
  </button>
</h1>
<div mat-dialog-content>
  <div class="row justify-content-center">
    <ng-container *ngFor="let icon of icons">
      <div (click)="onClickIcon(icon.css)"
           class="col-4 col-sm-2 text-center p-2 icon-list__icon">
        <i [ngClass]="['fa', icon.css]"></i>
        <div class="icon-list__icon_label">
          {{icon.label}}
        </div>
      </div>
    </ng-container>
  </div>
</div>
