@use "media-queries" as media;
@use "vars" as vars;

.common_page {
  margin: 3em 1em;
  @include media.df-xs {
    margin: 2em 1em;
  }
}

.common_page__header {
  width: 80%;
  margin: 0 auto;
  height: 3.3em;
  padding: 1rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: vars.$primary-blue;
  font-size: 1.2em;
  font-family: vars.$h-font;
  @include media.df-md {
    width: 90%;
  }
  @include media.df-xs {
    font-size: 1em;
    width: 100%;
  }
}

.common_page__body {
  width: 80%;
  margin: 0 auto;
  padding: 1em 1.5em 1.8em;
  background: rgb(255, 255, 255);
  font-family: RobotoRegular, SansSerif sans-serif;
  @include media.df-md {
    width: 90%;
  }
  @include media.df-xs {
    width: 100%;
  }
}
